{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
    <h1 class="text-center stencil mt-4">Passer votre commande</h1>
    <a href="{{ path('cart') }}" class="btn btn-dark stencil">Voir mon panier </a>
    <div class="row stencil justify-content-between">

    {% for pizza in pizzas %}
        <div class="card col-lg-3 col-12 m-2 pt-3" style="width: 18rem;">
            <img class="card-img-top" src="{{ asset('upload/pizza/'~ pizza.image) }}" alt="{{ pizza.name }}">
            <div class="card-body">
                <h5 class="card-title">{{ pizza.name }} {{ pizza.price|number_format(2) }} €</h5>
                <p class="card-text arial">
                    {% for ingredients in pizza.ingredients %}
                        {% if ingredients.category.name == "debut" %}
                            {{ ingredients.name }},
                        {% endif %}
                    {% endfor %}
                    {% for ingredients in pizza.ingredients %}
                        {% if  ingredients.category.name != "debut" and ingredients.category.name != "fin" %}
                            {{ ingredients.name }},
                        {% endif %}
                    {% endfor %}
                    {% for ingredients in pizza.ingredients %}
                        {% if ingredients.category.name  == "fin" %}
                            {{ ingredients.name }}
                        {% endif %}
                    {% endfor %}</p>
                <a href="{{ path('commande_decrease_to_cart',{id:pizza.id}) }}" class=""><img src="{{ asset('assets/img/minus.png') }}" alt="-"></a>
                <a href="{{ path('commande_add_to_cart',{id:pizza.id}) }}" class=""><img src="{{ asset('assets/img/plus.png') }}" alt="+"></a>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
