{% extends 'base.html.twig' %}

{% block title %}Adress index{% endblock %}

{% block body %}
    <div class="container stencil">
    <h1 class="text-center mt-4">liste des adresses de la pizeria</h1>
        <a href="{{ path('admin_adress_new') }}" class="btn btn-primary mt-4">ajouter</a>

    <table class="table mt-4">
        <thead>
            <tr>

                <th>nom</th>
                <th>Adresse</th>
                <th>telephone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for adress in adresses %}
            <tr>

                <td>{{ adress.name }}</td>
                <td>{{ adress.adress|nl2br }}</td>
                <td>{{ adress.phoneNumber|nl2br }}</td>
                <td>

                    <a href="{{ path('admin_adress_edit', {'id': adress.id}) }}" class="btn btn-secondary">modifier</a>
                    <form method="post" action="{{ path('admin_adress_delete', {'id': adress.id}) }}"
                          onsubmit="return confirm('ete vous sure de vouloir suprimer  {{ adress.name }}?');" style="display: inline-block">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ adress.id) }}" >
                        <button class="btn btn-danger">Suprimer</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



    </div>
{% endblock %}
